<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - W24_TP2</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@   
    @*<link rel="stylesheet" href="~/W24_TP2.styles.css" asp-append-version="true" />*@
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <!--<img src="~/assets/img/navbar-logo.svg" alt="Retour page d'accueil" <i class="bi bi-house-fill"></i>/>-->
                @*<a class="masthead-subheading text-white-50" asp-controller="Home" asp-action="Index">RETOUR ACCUEIL</a>*@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white-50" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white-50" asp-area="" asp-controller="Sujets" asp-action="ZiAdmin">Administrateur</a>
                        </li>
                        @*<li class="nav-item text-grey-blue">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                        @*<li class="nav-item">
                            <a class="nav-link text-white-50" asp-area="" asp-controller="Sujets" asp-action="Index_sujets_par_cat" asp-route-pageIndex="1">Sujets </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white-50" asp-area="" asp-controller="Messages" asp-action="Index_mess_par_suj" asp-route-pageIndex="1">Messages</a>
                        </li>*@
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading text-grey-blue">Les Disques Narval</div>
                <div class="masthead-heading text-grey-blue">Merci de vous inscrire!</div>
                @*<a class="btn btn-secondary btn-xl text-uppercase" href="#services">Tell Me More</a>*@
                <div class="container-sm row">
                    @*asp-controller="Sujets" asp-action="Index_suj_cat" asp-route-id="@item.CatId" asp-route-pageIndex="1">*@
                    <div class="col"><a asp-controller="Sujets" asp-action="Index_sujets_par_cat" asp-route-id="1" asp-route-pageIndex="1"><img src="~/assets/img/soccer.jpg" class="rounded-circle img-margin-top img-round" alt="img"/></a></div>
                    <div class="col"><a asp-controller="Sujets" asp-action="Index_sujets_par_cat" asp-route-id="2" asp-route-pageIndex="1"><img src="~/assets/img/basketball.jpg" class="rounded-circle img-round" alt="img"/></a></div>
                    <div class="col"><a asp-controller="Sujets" asp-action="Index_sujets_par_cat" asp-route-id="3" asp-route-pageIndex="1"><img src="~/assets/img/football.jpg" class="rounded-circle img-round" alt="img"/></a></div>
                    <div class="col"><a asp-controller="Sujets" asp-action="Index_sujets_par_cat" asp-route-id="4" asp-route-pageIndex="1"><img src="~/assets/img/volleyball.jpg" class="rounded-circle img-round" alt="img"/></a></div>
                    <div class="col"><a asp-controller="Sujets" asp-action="Index_sujets_par_cat" asp-route-id="11" asp-route-pageIndex="1"><img src="~/assets/img/baseball.jpg" class="rounded-circle img-round" alt="img"/></a></div>
                    <div class="col"><img src=""></div>
                    <div class="col"><img src=""></div>
                    <div class="col"><a asp-controller="Sujets" asp-action="Index_sujets_par_cat" asp-route-id="5" asp-route-pageIndex="1"><img height="75"  width="75"src="~/assets/img/tennis.jpg" class="rounded-circle img-round" alt="img"/></a></div>
                    <div class="col"><a asp-controller="Sujets" asp-action="Index_sujets_par_cat" asp-route-id="12" asp-route-pageIndex="1"><img height="75"  width="75"src="~/assets/img/badminton.jpg" class="rounded-circle img-round" alt="img"/></a></div>
                    <div class="col"><a asp-controller="Sujets" asp-action="Index_sujets_par_cat" asp-route-id="7" asp-route-pageIndex="1"><img height="75"  width="75"src="~/assets/img/ping_pong.jpg" class="rounded-circle img-round" alt="img"/></a></div>
                    <div class="col"><a asp-controller="Sujets" asp-action="Index_sujets_par_cat" asp-route-id="10" asp-route-pageIndex="1"><img height="75"  width="75"src="~/assets/img/ski_de_fond.jpg" class="rounded-circle img-round" alt="img"/></a></div>
                    <div class="col"><a asp-controller="Sujets" asp-action="Index_sujets_par_cat" asp-route-id="6" asp-route-pageIndex="1"><img height="75"  width="75"src="~/assets/img/hockey.jpg" class="rounded-circle img-round" alt="img"/></a></div>
                    
                </div>
            </div>
        </header>
    
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">W24_TP2</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>*@

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; LES DISQUES NARVAL 2023</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    @*<div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>*@
                </div>
            </div>
        </footer>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - W24_TP2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/scripts.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: 'textarea'
      });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

